[Unit]
Description=GNU Ospfd routing manager
Wants=network.target
Before=network.target
Requires= zebra.service
After=network-pre.target
After=zebra.service
ConditionPathExists=/etc/quagga/ospfd.conf
Documentation=man:ospfd

[Service]
Type=forking
PIDFile=/var/run/ospfd.pid
ExecStartPre=/usr/bin/rm -f /run/ospfd.pid
ExecStart=/usr/local/sbin/ospfd -d -A 127.0.0.1 -f /etc/quagga/ospfd.conf
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target
